@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.principal {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 350px;
}

.principal__img {
    width: 300px;
    margin: 20px auto;
    position: relative;
    background-color: hsl(178, 100%, 50%);
    border-radius: 10px;
    height: 300px;
}

.img-cubo {
    width: 300px;
    border-radius: 10px;
}

.principal__img:hover::after {
    cursor: pointer;
    content: url('img/icon-view.svg');
    position: absolute;
    top: 43%;
    left: 43%;
}

.img-cubo:hover {
    cursor: pointer;
    opacity: 0.5;
}

.conteudo {
    width: 300px;
    margin: auto;
}

.conteudo__titulo {
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding: 10px 0px;
}

.conteudo__titulo:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.conteudo__paragrafo {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    padding: 10px 0;
}

.conteudo__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.info__eth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__p1 {
    font-size: 16px;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.info__img {
    margin-right: 8px;
}

.info__p2 {
    color: hsl(215, 51%, 70%);
}

.info__days {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__info {
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.img-perfil {
    width: 40px;
    border-radius: 100%;
    border: 1px solid white;
}

.criador {
    margin-left: 20px;
    color: hsl(215, 51%, 70%);
}

span {
    color: white;
}

span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
